 <div class="row text-center headergrey">
      <div *ngIf="view=='month'" class="col-md-12">
        <div class="btn-group">
          <div
            class="btn btn-secondary"
            mwlCalendarPreviousView
            [view]="view"
            [(viewDate)]="viewDate"
            (viewDateChange)="viewDateChange.next(viewDate)">
            <<
          </div>
          <div
            class="btn btn-secondary"
            mwlCalendarToday
            [(viewDate)]="viewDate"
            (viewDateChange)="viewDateChange.next(viewDate)">
             {{ viewDate |  date:'MMM y':locale }}
          </div>
          <div
            class="btn btn-secondary"
            mwlCalendarNextView
            [view]="view"
            [(viewDate)]="viewDate"
            (viewDateChange)="viewDateChange.next(viewDate)">
            >>
          </div>
        </div>
      </div>
      <div class="col-md-4 fixedTopLeft">
		<!-- span 
            class="floatingButton"
            (click)="viewChange.emit('month')"
            [class.active]="view === 'month'" aria-hidden="true">retour</span-->
        <div class="btn-group">
         
          <!-- div
            class="btn btn-primary"
            (click)="viewChange.emit('week')"
            [class.active]="view === 'week'">
            Week
          </div>
          <div
            class="btn btn-primary"
            (click)="viewChange.emit('day')"
            [class.active]="view === 'day'">
            Day
          </div-->
        </div>
      </div>
    </div>
   