<nav class="navbar fixed-top navbar-light bg-light">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <img alt="Brand" [src]="miniLogoSrc" class="logoHeader">
      </a>
    
      <a class="navbar-brand cartPosToLeft" (click)="openModal(panier)"> 
			<span class="cart" ><img alt="cart" [src]="cartImgSrc" class="cartHeader"></span>
			<span *ngIf="nbArticle>0"class="cartNumber" >{{nbArticle}}</span>
	</a>
    </div>
  </div>
</nav>

 <ng-template #panier>
	  <div class="modal-header">
	    <h4 class="modal-title pull-left">Votre panier</h4>
	    <button type="button" class="close pull-right" aria-label="Close"  (click)="modalRef.hide()">
	      <span aria-hidden="true">&times;</span>
	    </button>
	  </div>
	  	
	  
	  <div class="modal-body">
	    <app-prestataires fixedSquared='true' [prestationsInput]="cart.prestation"></app-prestataires>
	  </div>
	   <a routerLink="/rdv" *ngIf="cart.prestation.length>0" class="btn btn-primary validatorBtn">Passer au paiement</a>
</ng-template>