.logoHeader{
	height:50px;
}
.cartHeader{
	height:50px;
	text-align:right; 
	
}
.cartPosToLeft{
	position: absolute;
    right: 0px;
    top: 5px;
	
}

.cartNumber{
	position: absolute;
    background-color: red;
    width: 30px;
    height: 30px;
    border-radius: 59px;
    color: white;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    left: -15px;
    top: 30px;
}

.navbar{
	   border: 1px solid #ECECEC;
    max-width: 849px;
    margin: auto;
}

.card{
	transition: 2s ease;
	margin:5px;
	border-radius: 15px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  	
}