<div class="containerPrestation container"  >
<div class="row justify-content-center">
<!--Card-->
	 
	
	<div  *ngFor="let prestation of prestations"  [ngClass]="{'square': fixedSquared!=='false', 'card':true, 'col-md-5':true, 'draggable':true  }" (click)="showPrestation(prestation)" >
		<div #card *ngIf="selectedId!=prestation.idPrestation"  >
		   
		    <!--Card content-->
		    <!-- div [ngClass]="{ 'showAnime': success, 'hideAnime': !success, 'card-body': true }" >
		    	 <img class="img-fluid" [src]="addToCart" alt="Card image cap">
		    </div-->
		    <div  [ngClass]="{ 'card-body': true } ">
		        <!--Title-->
		      <div class="row initCloser">
		      	<div class="col-md-12">
		       		<h4 class="card-title">{{prestation.titre}} </h4>
		        </div>
		        <div class="closer">
		       		<fa  *ngIf="mode==='panier'"  name="trash"  (click)="removeFromPanier(prestation)">
				      <span aria-hidden="true">&times;</span>
				    </fa>
		        </div>
		      </div> 
				 
				  <!--Card image-->
		   		 <img class="img-fluid" [src]="prestation.url" alt="Card image cap">
		
		        <!--Text-->
		      
		        <p *ngIf="mode=='panier'" class="card-text">{{prestation.datePrestation | date:'dd MMM y':locale}} à {{prestation.datePrestation | date:'HH':locale}}h</p>
		        <p class="card-text"><b>tarif:</b> {{prestation.prix}}€</p>
		        <div *ngIf="fullMode==prestation.idPrestation">
		        	<p class="card-text" ><b>durée:</b> {{prestation.duree}}h</p>
			        <p class="card-text" >{{prestation.desc}}</p>
			        <br>
			        <a (click)="addPanier(prestation);"  *ngIf="mode=='catalogue'" class="btn btn-primary">{{msgValidationPrestation}}</a>
		        </div>
		    </div>
		</div>
	    <div *ngIf="selectedId==prestation.idPrestation">
	    	<h4 class="card-title">{{prestation.titre}}
	    		<button type="button" class="close pull-right" aria-label="Close"  (click)="selectedId=''">
			      <span aria-hidden="true">&times;</span>
			    </button>
	    	 </h4>
	    	<app-scheduler  prestation="prestation"> </app-scheduler>
		</div>
	</div>
</div>
</div>
<!--/.Card-->