<div class="containerPrestation container" >
<div class="row justify-content-center">
<!--Card-->
	 
	<ng-template #template>
	  <div class="modal-header">
	    <h4 class="modal-title pull-left">{{modalTitle}}</h4>
	    <button type="button" class="close pull-right" aria-label="Close"  (click)="modalRef.hide()">
	      <span aria-hidden="true">&times;</span>
	    </button>
	  </div>
	  	
	  
	  <div class="modal-body">
	    {{modalMsg}}
	  </div>
	  
	</ng-template>
	<div  *ngFor="let prestation of prestations" class="card col-md-5 draggable">
		<div *ngIf="selectedId!=prestation.idPrestation">
		    <!--Card image-->
		    <img class="img-fluid" [src]="prestation.url" alt="Card image cap">
		
		    <!--Card content-->
		    <div class="card-body">
		        <!--Title-->
		        <h4 class="card-title">{{prestation.titre}}</h4>
		        <!--Text-->
		        <p class="card-text">{{prestation.desc}}</p>
		        <p *ngIf="mode=='panier'" class="card-text">{{prestation.datePrestation | date:'dd MMM y':locale}} à {{prestation.datePrestation | date:'HH':locale}}h</p>
		        <p class="card-text">tarif: {{prestation.prix}}</p>
		         <p class="card-text">durée: {{prestation.duree}}h</p>
		        
		        <a (click)="addPanier(prestation, template);"  *ngIf="mode=='catalogue'" class="btn btn-primary">{{msgValidationPrestation}}</a>
		    </div>
		</div>
	    <div *ngIf="selectedId==prestation.idPrestation">
	    	<h4 class="card-title">{{prestation.titre}}</h4>
	    	<app-scheduler  prestation="prestation"> </app-scheduler>
		</div>
	</div>
</div>
        <a routerLink="/rdv" *ngIf="!isPanierEmpty" class="btn btn-primary validatorBtn">Suivant</a>
</div>
<!--/.Card-->