<div class="containerPrestation container"  >
<div class="row justify-content-center">
<!--Card-->
	 
	<ng-template #template>
	  <div class="modal-header">
	    <h4 class="modal-title pull-left">{{modalTitle}}</h4>
	    <button type="button" class="close pull-right" aria-label="Close"  (click)="modalRef.hide()">
	      <span aria-hidden="true">&times;</span>
	    </button>
	  </div>
	  	
	  
	  <div class="modal-body">
	    {{modalMsg}}
	  </div>
	  
	</ng-template>
	<div  *ngFor="let prestation of prestations"  [ngClass]="{'square': fixedSquared, 'card':true, 'col-md-5':true, 'draggable':true  }" (click)="showPrestation(prestation)" >
		<div #card *ngIf="selectedId!=prestation.idPrestation"  >
		   
		    <!--Card content-->
		    <div [ngClass]="{ 'showAnime': success, 'hideAnime': !success, 'card-body': true }" >
		    	 <img class="img-fluid" [src]="addToCart" alt="Card image cap">
		    </div>
		    <div  [ngClass]="{ 'hideAnime': success, 'showAnime': !success, 'card-body': true } ">
		        <!--Title-->
		        <h4 class="card-title">{{prestation.titre}} 
		        	 <button  *ngIf="mode=='panier'" type="button" class="close pull-right" aria-label="Close"  (click)="removeFromPanier(prestation)">
				      <span aria-hidden="true">&times;</span>
				    </button>
				 </h4>
				  <!--Card image-->
		   		 <img class="img-fluid" [src]="prestation.url" alt="Card image cap">
		
		        <!--Text-->
		      
		        <p *ngIf="mode=='panier'" class="card-text">{{prestation.datePrestation | date:'dd MMM y':locale}} à {{prestation.datePrestation | date:'HH':locale}}h</p>
		        <p class="card-text"><b>tarif:</b> {{prestation.prix}}€</p>
		        <div *ngIf="fullMode==prestation.idPrestation">
		        	<p class="card-text" ><b>durée:</b> {{prestation.duree}}h</p>
			        <p class="card-text" >{{prestation.desc}}</p>
			        <br>
			        <a (click)="addPanier(prestation, template);"  *ngIf="mode=='catalogue'" class="btn btn-primary">{{msgValidationPrestation}}</a>
		        </div>
		    </div>
		</div>
	    <div *ngIf="selectedId==prestation.idPrestation">
	    	<h4 class="card-title">{{prestation.titre}}
	    		<button type="button" class="close pull-right" aria-label="Close"  (click)="selectedId=''">
			      <span aria-hidden="true">&times;</span>
			    </button>
	    	 </h4>
	    	<app-scheduler  prestation="prestation"> </app-scheduler>
		</div>
	</div>
</div>
        <a routerLink="/rdv" *ngIf="!isPanierEmpty" class="btn btn-primary validatorBtn">Valider le panier</a>
</div>
<!--/.Card-->