<div id="FormEventCreate" class="centered" >
	<form (ngSubmit)="onSubmit()" [@toggleState]="toggleForm">
	  <div class="form-group">
	    <label for="exampleInput">Veuillez renseigner vos informations personnelles</label>
	  </div>
	  <div class="form-group">
	    <label for="exampleInputName">Nom</label>
	    <input type="text" [(ngModel)]="name" name="name"  class="form-control" id="exampleInputName" aria-describedby="nameHelp" placeholder="Entrez votre nom" required>
	    <!-- small id="nameHelp" class="form-text text-muted">Entrez votre nom.</small  [(ngModel)]="event.nom"-->
	  </div>
	  <div class="form-group">
	    <label for="exampleInputFirstname">Pr&eacute;nom</label>
	    <input type="text" [(ngModel)]="firstname" name="firstname"  class="form-control" id="exampleInputFirstname" aria-describedby="firstnameHelp" required placeholder="Entrez votre pr&eacute;nom">
	    <!--small id="firstnameHelp" class="form-text text-muted">Entrez votre pr&eacute;nom.</small [(ngModel)]="event.prenom"-->
	  </div>
	  <div class="form-group">
	    <label for="exampleInputPhone">Numero de telephone</label>
	    <input type="text" [(ngModel)]="telephone" name="phone" class="form-control"  id="exampleInputPhone" aria-describedby="phoneHelp" placeholder="Entrer t&eacute;l&eacute;phone" required>
	    <!--small id="emailHelp" [(ngModel)]="event.tel" class="form-text text-muted">Votre num&eacute;ro ne sera utilis&eacute; que pour valider le rendez vous</small-->
	  </div>
	  <div class="form-group">
	    <label for="exampleInputPhone">Code validation</label>
	    <input type="text" name="code" [(ngModel)]="code" disabled class="form-control"  id="exampleInputCode" aria-describedby="codeHelp" >
	    <!--small id="emailHelp" [(ngModel)]="event.codeValidation" class="form-text text-muted">Votre num&eacute;ro ne sera utilis&eacute; que pour valider le rendez vous</small-->
	  </div>
	  <div class="form-group">
	    <label for="exampleInputPhone">Description</label>
	    <textarea type="text" name="description" [(ngModel)]="desc" class="form-control"  id="exampleInputDesc" aria-describedby="codeHelp" placeholder="Que souhaitez vous faire?"></textarea>
	    <!--small id="emailHelp" [(ngModel)]="event.codeValidation" class="form-text text-muted">Votre num&eacute;ro ne sera utilis&eacute; que pour valider le rendez vous</small-->
	  </div>
	  <div class="form-group">
	   <button type="button" routerLink="/calendar" routerLinkActive="active" class="btn btn-second	ary">Annuler</button>
	   <button type="button" (click)="onSubmit()"  routerLinkActive="active" class="btn btn-primary">Suivant</button>
	  </div>
	  
	  
	 </form>
	 <div *ngIf="transactionStatus=='success' || transactionStatus=='failed'"  class="centered" >
		 <div *ngIf="transactionStatus=='success'" id="success" class="form-group" [@toggleState]="toggleSuccess" (@toggleState.done)="endTransaction($event)" >
			  <div   class="raw"><img id="logo2"  [src]="logoPath"  style="width:80%" ></div>
			  <br />
			  <div class ="center">
				Vous remercie pour votre confiance.<br /> <br />
				
				
			  </div>
		 </div>
		  <div *ngIf="transactionStatus=='failed'" id="failed" class="form-group" [@toggleState]="toggleFailed" (@toggleState.done)="endTransaction($event)">
			  <div   class="raw"><img id="logo2"  [src]="logoPath"  style="width:80%" ></div>
			  <br />
			  <div class ="center">
				Votre transaction n'a pas pu aboutir. Nous nous en excusons.<br /> <br />
				
				
			  </div>
		 </div>
	</div>
 </div>