
<div id="calendar-content" [@toggleState]="toggleCalendar">
	<mwl-demo-utils-calendar-header
	  [(view)]="view"
	   [locale]="locale"
	  [(viewDate)]="viewDate">
	</mwl-demo-utils-calendar-header>
	
	<div [ngSwitch]="view">
		<mwl-calendar-day-view
		 *ngSwitchCase="'day'"
		    [viewDate]="viewDate"
		    [events]="events"
		     [locale]="locale"
		     [dayStartHour]="8"
	 		 [dayEndHour]="18"
		    (hourSegmentClicked) = "createEvent($event)"
		    (eventClicked)="eventClicked($event)">
		</mwl-calendar-day-view>
		
		<!-- mwl-calendar-week-view
		 *ngSwitchCase="'week'"
		    [viewDate]="viewDate"
		    [events]="events"
		    (dayClicked)="clickedDate = createEvent($event)"
		    (eventClicked)="eventClicked($event)">
		</mwl-calendar-week-view-->
		
		<mwl-calendar-month-view
		 *ngSwitchCase="'month'"
		  [viewDate]="viewDate"
		  [events]="events"
		   [locale]="locale"
		  [activeDayIsOpen]="true"
		  (dayClicked)="clickedDate = createEvent($event)"
		  (eventClicked)="eventClicked($event)">
		</mwl-calendar-month-view>
	</div>
</div>
<!-- Modal -->
