<div class="jumbotron centered" >
  <div  [@toggleState]="toggleLogo" class="raw"><img id="logo2"  [src]="logo2Path" style="width:80%"></div>
	<div id="preloader" [@toggleState]="toggleLoader" (@toggleState.done)="loaderHidden($event)" >
	  <div  id="loader"></div>
	</div>

	<div class ="center" [@toggleState]="toggleLoader"  id="preloadInstruction">
	  <p>En cours de chargement.</p>
	</div>
	
	<div class ="center" [@toggleState]="toggleLogo"  id="instruction">
		Selectionner une date de rendez vous.<br /> <br />
		
		<br />
	  <p><a class="btn btn-primary btn-lg" id="startTransaction" href="#" role="button" routerLink="/prestation">Commencer</a></p>
	</div>
 	 
	
</div>